@using ProjectBack.Models.EntityFramework;
@model List<Application>
@{
    ViewBag.Title = "AllApps";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>App Name</th>
            <th>Is allowed</th>
            <th>View all users</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Application app in @Model)
            {
                <tr>
                    <td>@app.ID</td>
                    <td>@app.Name</td>
                    <td><a class="btn @(Convert.ToBoolean(app.Allowed) ? "btn-success" : "btn-danger")" href="/API/ToggleAllowed/@app.ID">@Convert.ToBoolean(app.Allowed).ToString()</a></td>
                    <td><a class="btn btn-info" href="/API/AppUsers?AppID=@app.ID">View</a></td>
                </tr>
            }
    </tbody>
</table>

