
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul>
    <li>
        <a href="/API/AllApps">All apps</a>
    </li>
    <li>
        <a href="/API/AllUsers">All users</a>
    </li>
</ul>

